<div class="after-register">
		<section class="text-center rounded">
				<img class="img-fluid" alt="Do It Crypto!" src="img/doItCrypto-logo.png">
				<p class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mx-auto">
					Thank you for completing the registration form. An OTP was sent to your mobile number. Please enter the OTP code in the box below for phone verification. 
				</p>
			</section>
			<section class="otp-form text-center">
				<form class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12 mx-auto">
					<div class="col-lg-4 col-md-4 mx-auto">
						<span>Enter OTP: </span><input type="text" ng-model="otp.otp" class="form-control">
					</div>
					<button type="submit" ng-click="submitOTP()" class="btn btn-primary sbm-btn">Submit</button>
				</form>
			</section>
			<section class="warning">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mx-auto text-center">
					<p>Trading cryptocurrencies carries high risks and may not be suitable for everyone.</p>
				</div>
			</section>
</div>